.carousel-item img {
  height: 600px !important;
  object-fit: cover;
}

@media only screen and (min-width: 600px){
  .maincard{
      margin-left: auto;
      margin-right: auto;
      margin-top: -90px;
  }
}
@media only screen and (max-width: 600px){
  .maincard{
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 600px){
  .event  {
      margin-top:30px;
      padding-top: 10px;
      margin-bottom: 60px;
      height: 650px;
      background-color:#f2f2f2;
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (max-width: 600px){
  .event  {
      
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
  }
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  /* .imggg{
    filter: blur(3px);
  -webkit-filter: blur(3px);
  } */